.card {
    width: 60%;
    height: 100vh;
    background-color: #000;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    

}

@media screen and (max-width: 768px) {

    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .header {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        padding: 0.5rem;
    }
}