
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #fff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
    overflow-x: hidden;
   
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}















